body{
    background: black;
  
}
.wrapper{
    background: white;
    width: 600px;
    height: 475px;
    margin: 0 auto; /*Centrar objeto*/
    margin-top: 125px;
}
.header{
     display: flex;     
     width: 100%;
     height: 25%;
}

#titleheader{
    width: 75%;
    height: 100%;
}

#imgheader{
    width: 30%;
    height: 100%;
}
/*--------------------------*/
.content{
     display: flex;     
     width: 100%;
     height: 50%;
}

#textcontent{
    width: 50%;
    height: 100%;
}
#imputcontent{
    width: 50%;
    height: 100%;
}

 #imputcontent input{

  margin-bottom: 20px;
  border-top: none;
  border-right: none;
  border-left: none;
  

}
/*--------------------------*/
.button{        
     width: 100%;
     height: 25%;
}
